head {
    margin: 10%;
    width: 20%;
}
body {
    background-color: white;
   
}
nav img {
    height: 5%;
    width: 5%;
    border-radius: 80%;

}



 nav p {
    text-align: center;
}
header p {
    text-align: center;
}

aside {
    display: flex;
}

aside img {
    height: 5%;
    width: 5%;
}
